In [ ]:
import pandas as pd

df = pd.read_csv("https://storage.googleapis.com/pantheon-public-data/person_2020_update.csv.bz2")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         id  wd_id  ...  coefficient_of_variation         hpi
0     18934  Q9458  ...                  3.199355  100.000000
1  17414699   Q720  ...                  2.753641   97.723669
2     18079   Q762  ...                  4.796629   97.460691
3     14627   Q935  ...                  4.632474   96.836567
4     17914   Q255  ...                  3.926626   96.583969

[5 rows x 34 columns]

In [ ]:
df.shape

(88937, 34)

In [ ]:
# Copy-paste from my old project to gather the images
import requests
import csv
import urllib.parse
from IPython.core.display import HTML

def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

def find_commons_image(ids):
  query = "SELECT ?item ?pic WHERE { VALUES ?item {" + ' '.join(ids) + "}. ?item wdt:P18 ?pic}"
  result = requests.get("https://query.wikidata.org/sparql", params={'query': query}, headers={'Accept': 'text/csv'}).text
  data = list(csv.reader(result.split("\r\n"), delimiter=',', quotechar='"'))[:-1]
  df = pd.DataFrame(data[1:], columns=data[0])
  return df

images = find_commons_image(("wd:"+df.wd_id).values[:10])
#images.pic = images.pic.str.replace("http://commons.wikimedia.org/wiki/Special:FilePath/", "")
#images.pic = images.pic.apply(urllib.parse.unquote)
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

HTML(images.to_html(escape=False, formatters=dict(pic=path_to_image_html)))

In [ ]:
images.shape

(1000, 2)